{% extends 'base.html' %}
{% block content %}
    <div id="forgot-password">
        <table>
            <thead>
            <tr>
                <th>
                    <p>Forgot password</p>
                    <hr>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <br>
                        <input type="submit" value="Send" class="form">
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>We will send you an email on given address to reset your password.</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}