{% extends "base.html" %}
{% block content %}

    <h2>All your auctions.</h2>

    {% if not auctions %}
        <p>There are no running auctions.</p>
    {% endif %}

    {% include "show_auctions.html" %}

    <h2>All auctions you are participating in.</h2>

    {% if not bidding_auctions %}
        <p>There are no auctions here.</p>
    {% endif %}

    {% include "show_auctions.html" with auctions=bidding_auctions %}

    <h2>All finished auctions.</h2>

    {% if not won_auctions %}
        <p>There are no auctions here.</p>
    {% endif %}

    {% include "show_auctions.html" with auctions=won_auctions %}

{% endblock %}
