{% extends "base.html" %}
{% block content %}

    <a href="{%  url 'add_item' %}">
        <button>ADD ITEM</button>
    </a>

    <h3>All your items, that are not on auctions.</h3>

    {% if not items %}
        <p>There are no items to put up on auction.</p>
    {% endif %}

    <table>
        {% for item in items %}
        <tr>
            <td>
                <a href="{{ item.id }}">
                    {{ item.name }}
                </a>
            </td>
            <td>
                <img src="{{ item.photo.url }}" alt="photo">

            </td>
        </tr>
        {% endfor %}
    </table>

    <h3>All your items on auctions.</h3>

    {% if not items_on_auctions %}
        <p>There are no items on auctions.</p>
    {% endif %}

    <table>
        {% for item in items_on_auctions %}
        <tr>
            <td>
                <a href="{{ item.id }}">
                    {{ item.name }}
                </a>
            </td>
            <td>
                <img src="{{ item.photo.url }}" alt="photo">

            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
