{% extends "base.html" %}
{% block content %}
    {% if not item.on_auction %}
        <a href="{% url 'create_auction' item_id=item.id %}"><button>Put up on auction.</button></a>
    {% else %}
        <p>This element is already on auction.</p>
    {% endif %}

    <div>
        <div class="my-item">
            <img src="{{ item.photo.url }}" alt="photo">
            <div class="item-info">
                <h3>{{ item.name }}</h3>
            </div>
        </div>
        <h4>Description</h4>
        <p>{{ item.description }}</p>
    </div>

{% endblock %}