{% for auction in auctions %}
    <div class="auction">
        <img src="{{ auction.item.photo.url }}" alt="photo">
        <div class="auction-info">
            {% if not auction.active %}
                {% if auction.current_bidder == user %}
                    {# the user won the auction #}
                    <p class="green">You won the auction.</p>
                {% elif auction.item.seller == user %}
                    {% if auction.current_bidder is None %}
                        <p class="red">Nobody took part in the auction.</p>
                    {% else %}
                        {# sold #}
                        <p class="green">Sold.</p>
                    {% endif %}
                {% else %}
                    <p class="red">You did not win the auction.</p>
                {% endif %}
            {% endif %}
            {% if user == auction.item.seller %}
                {# visiting my auctions (both from my_auctions or home page) #}
                <a href="{% url 'my_auction' auction_id=auction.id %}">
                    <h3>{{ auction.item.name }}</h3>
                </a>
            {% else %}
                {# visiting auctions from home page (not mine) #}
                <a href="{% url 'auction' auction_id=auction.id %}">
                    <h3>{{ auction.item.name }}</h3>
                </a>
            {% endif %}
            <p>Entry price: {{ auction.entry_price }}</p>
            <p>Current price: {{ auction.current_price }}</p>
            <p>End time: {{ auction.end_time }}</p>
        </div>
    </div>
{% endfor %}