body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


div.my-item {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    max-width: 800px;
}

div.my-item img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

div.item {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    overflow: hidden;
}

div.item-info {
    margin-top: 10px;
}

a.item-info {
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

h3.item-info {
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

div.auction {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    overflow: hidden;
}

div.auction img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

div.my-auction {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    max-width: 800px;
}

div.my-auction img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

div.auction-info {
    margin-top: 10px;
}

div.auction-info p.green {
    color: green;
}

div.auction-info p.red {
    color: red;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #555;
}

div.auctions {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.header {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

button.header:hover {
    background-color: #45a049;
}

.messages-container {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.success {
    margin-bottom: 10px;
    padding: 15px;
    color: white;
    background-color: #4CAF50;
}

.info {
    margin-bottom: 10px;
    padding: 15px;
    color: white;
    background-color: #2196F3;
}

.error {
    margin-bottom: 10px;
    padding: 15px;
    color: white;
    background-color: #FF5733;
}

address {
    font-style: normal;
}

div#forgot-password {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

a#forgot-password{
    color: #fff;
    text-underline: #fff;
    text-decoration: underline;
}

a#forgot-password:hover {
    color: lightgray;
}

button.form, input.form {
    background-color: #e9ecef;
    color: #495057;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1.2;
    border: 1px solid #e9ecef;
    border-radius: 0.2rem;
    cursor: pointer;
}

button.form:hover, input.form:hover {
    background-color: #d3d9df;
    border-color: #d3d9df;
}