{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link type="text/css" href="{% static 'script.js' %}">
    <title>Auction platform</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}"><button class="header">HOME</button></a>
        </nav>
        {% include "login_bar.html" %}
    </header>

    {% include 'messages.html' %}

    <div class="auctions">
        {% block content %}This site is empty.{% endblock %}
    </div>

    <footer>
        &copy; 2024 Auction Platform
    </footer>

</body>
</html>