{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# messages #}
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link type="text/css" href="{% static 'script.js' %}">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}"><button class="header">HOME</button></a>
        </nav>
        {% include "login_bar.html" %}
    </header>

    {% include 'messages.html' %}

    <div class="auctions">
        {% block content %}This site is empty.{% endblock %}
    </div>

    <footer>
        &copy; 2024 Auction Platform
    </footer>

</body>
</html>