{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
    <header>
        <nav id="login_bar">
            {% include "login_bar.html" %}
        </nav>
    </header>
    <nav id="home">
        <a href="{% url 'home' %}">Home</a>
    </nav>
    {% block content %}Ta strona jest jeszcze pusta{% endblock %}
    <footer>
        stopka
    </footer>
</body>
</html>