<div>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <a href="{% url 'logout' %}">
            <button>LOG OUT</button>
        </a>
        <a href="{% url 'my_items' %}">
            <button>MY ITEMS</button>
        </a>
        <a href="{% url 'my_auctions' %}">
            <button>MY AUCTIONS</button>
        </a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">
            <button>LOGIN</button>
        </a>
        <p></p>
        <a href="{% url 'register' %}">
            <button>CREATE ACCOUNT</button>
        </a>
    {% endif %}
</div>