<div>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <a href="{% url 'logout' %}">
            <button class="header">LOG OUT</button>
        </a>
        <a href="{% url 'my_items' %}">
            <button class="header">MY ITEMS</button>
        </a>
        <a href="{% url 'my_auctions' %}">
            <button class="header">MY AUCTIONS</button>
        </a>
    {% else %}
        You are not logged in
        <a href="{% url 'login' %}">
            <button class="header">LOGIN</button>
        </a>
        <a href="{% url 'register' %}">
            <button class="header">CREATE ACCOUNT</button>
        </a>
        <a href="{% url 'forgot_password' %}" id="forgot-password">
            forgot password
        </a>

    {% endif %}
</div>